#header{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
}
#menu{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-top: 6px;
}
#left-side{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-top: 6px;
    width: 16%;
    height: 180px;
    display: inline-block;
}
#main-section{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    width: 60%;
    height: 180px;
    display: inline-block;
    
}
#right-side{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-top: 6px;
    width: 16%;
    height: 180px;
    display: inline-block;
    margin: 0 0 0 6px;
}
#footer{
    background-color: #d9dcdf;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-top: 6px;
}