.input-group{
    margin: 10px;
}
.input-group>input{
    margin-left: 5px;
}
#contact-form{
    width: 300px;
    border: 1px black solid;
    padding: 5px;
}
#users-table{
    border: 1px black solid;
}
#users-table th, #users-table td{   
    border: 1px black solid;
    padding: 5px;
}